body { font-family:sans-serif; background-color:#CCCCFF ; }

h1 { font-family:serif; font-size: 24pt; font-weight:bold; color:#580000 ; }

h3 { font-family:serif; font-size: 16pt; font-weight:bold; color:#580000 ; }